.color-options {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
}

.color-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-btn:hover {
  transform: scale(1.1);
}

.color-btn.active {
  box-shadow: 0 0 0 3px #111;
}

/* cores */
.color-btn:nth-child(1){ background:#0d6efd; }
.color-btn:nth-child(2){ background:#198754; }
.color-btn:nth-child(3){ background:#dc3545; }
.color-btn:nth-child(4){ background:#6f42c1; }
.color-btn:nth-child(5){ background:#fd7e14; }


.badge-top {
    transition: 0.4s ease;
}

.badge-body p {
    transition: 0.4s ease;
}

