/* Modal de Créditos - Começa fechado e centralizado */
.creditosmodal {
    display: none; /* começa fechado */
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

    align-items: center;
    justify-content: center;
}

.creditosmodal.show {
    display: flex; /* abre centralizado */
}

.creditosmodal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.creditosmodal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 54, 54);
}

.creditosmodal a {
    color: #0d6efd;
    text-decoration: none;
}

.creditosmodal a:hover {
    text-decoration: underline;
}

.creditosmodal p {
    margin: 8px 0;
    font-size: 14px;
    color: #495057;
}

#txtCreditos{
    color: black;
}