.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  
  min-width: 250px;
  max-width: 90%;
  
  padding: 16px 28px;
  border-radius: 10px;
  
  background: rgba(20, 20, 20, 0.9);
  backdrop-filter: blur(8px);
  
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);

  opacity: 0;
  pointer-events: none;
  transition: all 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
